<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Музыкальный каталог</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap-grid.min.css" rel="stylesheet">

   
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="wrapper">
    <h1 class="title">🎵 Музыкальный каталог</h1>

    {% if songs %}
        <div class="row gx-4 gy-4">
            {% for song in songs %}
                <div class="col-12 col-md-6 col-lg-4">
                    {% if song.link %}
                        <a href="{{ song.link }}" class="song-link" target="_blank">
                    {% endif %}
                    <div class="song-card">
                        {% if song.image %}
                          <img src="{{ song.image.url }}" alt="{{ song.title }}" class="song-image">
                        {% endif %}
                        <div class="song-title">{{ song.title }}</div>
                        <div class="song-artist">👤 {{ song.artist }}</div>
                        <div class="song-year">📅 {{ song.release_year }}</div>
                    </div>
                    {% if song.link %}
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}]]
        
    {% endif %}

    <div class="text-center mt-5">
        <button class="custom-button" onclick="showAlert()">стать TRUeIgrokom</button>
    </div>
</div>

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
